{% extends 'quotes/base.html' %}
{% load extract %}

{% block content %}

<h1 class="header-box">Quotes of famous people</h1>

<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">{{ quote.quote }}</span>
            <span>by: <small class="author" itemprop="author">{{ quote.author.fullname}}</small>
                <a href="/author/{{ quote.author.slug }}" style="color:#b963caef">(about)</a>
            </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                <a class="tag" href="/tag/{{tag.name}}">{{tag.name}}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <nav class="list-pages">
            {% if page_obj.has_other_pages %}
            <ul>
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}">&laquo; prev</a>
                </li>
                {% endif %}
                {% if page_obj.number == 4 %}
                <li class="page-num"><a href="?page=1">1</a></li>
                {% endif %}
                {% if page_obj.number > 4 %}
                <li class="page-num"><a href="?page=1">1</a></li>
                <li><span>...</span></li>
                {% endif %}
                {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                <li class="page-num page-num-selected">{{p}}</li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %} <li class="page-num">
                    <a href="?page={{p}}">{{p}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} <li>
                        <span>...</span></li>
                        <li class="page-num"><a
                                href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a>
                        </li>
                        {% endif %}
                        {% if page_obj.number == page_obj.paginator.num_pages|add:'-3' %}
                        <li class="page-num"><a
                                href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a>
                        </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}">next &raquo;</a>
                        </li>
                        {% endif %}
            </ul>
            {% endif %}
        </nav>
    </div>
    <div class="col-md-4 tags-box">

        <h1>Top Ten tags</h1>
        {% for item in top_tags %}
        {% for key, value in item.items %}
        {% if key == 0 %}
        <span class="tag-item">
            <a class="tag" style="font-size: 30px" href="/tag/{{value}}/">{{value}}</a>
        </span>
        {% endif %}
        {% endfor %}
        {% for key, value in item.items %}
        {% if key == 1 %}
        <span class="tag-item">
            <a class="tag" style="font-size: 28px" href="/tag/{{value}}/">{{value}}</a>
        </span>
        {% endif %}
        {% endfor %}
        {% for key, value in item.items %}
        {% if key == 2 %}
        <span class="tag-item">
            <a class="tag" style="font-size: 26px" href="/tag/{{value}}/">{{value}}</a>
        </span>
        {% endif %}
        {% endfor %}
        {% for key, value in item.items %}
        {% if key == 3 %}
        <span class="tag-item">
            <a class="tag" style="font-size: 24px" href="/tag/{{value}}/">{{value}}</a>
        </span>
        {% endif %}
        {% endfor %}
        {% for key, value in item.items %}
        {% if key == 4 %}
        <span class="tag-item">
            <a class="tag" style="font-size: 22px" href="/tag/{{value}}/">{{value}}</a>
        </span>
        {% endif %}
        {% endfor %}
        {% for key, value in item.items %}
        {% if key == 5 %}
        <span class="tag-item">
            <a class="tag" style="font-size: 20px" href="/tag/{{value}}/">{{value}}</a>
        </span>
        {% endif %}
        {% endfor %}
        {% for key, value in item.items %}
        {% if key == 6 %}
        <span class="tag-item">
            <a class="tag" style="font-size: 18px" href="/tag/{{value}}/">{{value}}</a>
        </span>
        {% endif %}
        {% endfor %}
        {% for key, value in item.items %}
        {% if key == 7 %}
        <span class="tag-item">
            <a class="tag" style="font-size: 16px" href="/tag/{{value}}/">{{value}}</a>
        </span>
        {% endif %}
        {% endfor %}
        {% for key, value in item.items %}
        {% if key == 8 %}
        <span class="tag-item">
            <a class="tag" style="font-size: 14px" href="/tag/{{value}}/">{{value}}</a>
        </span>
        {% endif %}
        {% endfor %}
        {% for key, value in item.items %}
        {% if key == 9 %}
        <span class="tag-item">
            <a class="tag" style="font-size: 12px" href="/tag/{{value}}/">{{value}}</a>
        </span>
        {% endif %}
        {% endfor %}
        {% for key, value in item.items %}
        {% if key == 10 %}
        <span class="tag-item">
            <a class="tag" style="font-size: 10px" href="/tag/{{value}}/">{{value}}</a>
        </span>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}